.generos {
    color: #4B89FF;
    font-family: Lilita One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conte {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.gen {
    max-height: 1100px;
    width: 100%;
}


.carrossel{
    list-style-type: none;
}
.gen .carrossel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

@media screen and (max-width: 768px){
    .gen .carrossel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

.categ .img img {
    width: 118px;
    height: 176px;
    object-fit: cover;
}

.img ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
