.contsel {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 490px;
    height: auto;
    margin-left: 60%;
    margin-top: -550px;
    background-color: #DB9A8F91;
    border-radius: 5px;
}

.selec {
    color: #6E081F;
    font-size: 27px;
    margin-top: 25px;
    margin-left: 40px;
    font-family: Lilita One;
    font-weight: 400;
    word-wrap: break-word
}

.livsel {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    max-width: 405px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px #B2ADAD solid
}

.livsel img {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    width: auto;
    max-width: 50px;
    height: auto;
    max-width: 70px;
}

.livsel h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: black;
    font-size: 18px;
    font-family: Montaga;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}

.procom {
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 50px;
    width: auto;
    max-width: 265px;
    background-color: #4B89FF;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
}

.procom h3 {
    width: 275px;
    color: white;
    font-size: 18px;
    font-family: Lilita One;
    font-weight: 400px;
    word-wrap: break-word;
}



.semess {
    background-color: #B37160;
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}

.semess h4 {
    color: white;
    font-size: 27px;
    font-family: Lilita One;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 10px;
}

.conts {
    margin-top: 25px;
    max-height: 550px;
    width: auto;
}

.livs {
    list-style-type: none;
}

.conts,
.livs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.seml img {
    width: auto;
    max-width: 128px;
    height: 176px;
    object-fit: cover;
    margin-left: 30px;
}

.check {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}
.lista-com-scroll  {
    width: auto;
    max-width: 590px;
    height: 500px;
    /* Define a altura máxima do contêiner */
    overflow-y: scroll;
    /* Adiciona uma barra de rolagem vertical quando necessário */
    margin-top: 40px;
    margin-left: -50px;
}
.lista-com-scroll::-webkit-scrollbar {
    width: 8px;
    border-radius: 3px;
  }
  
  .lista-com-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .lista-com-scroll::-webkit-scrollbar-thumb {
    background-color: #B2ADAD;
  }

  .lista-com-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(105, 100, 100);
  }

.lista-com-scroll ul {
    list-style: none;
    /* Remove marcadores de lista padrão */
    padding: 0;
    /* Remove o preenchimento padrão da lista */
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    max-width: 520px;
    height: auto;
}

.lista-com-scroll li {
    padding: 15px;
    /* Adicione algum preenchimento para melhor legibilidade */
    border-bottom: 1px solid #ddd;
    /* Adiciona uma borda inferior para separar os itens da lista */
    border: 2px #B2ADAD solid;
    border-radius: 5px;
    background-color: white;
    display: flex;
    margin-top: 10px;
}

.scroll img {
    width: auto;
    max-width: 50px;
    height: auto;
    max-width: 70px;
}

.scroll h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    color: #000;
    font-family: Montaga;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.414px;
}

