.contsel {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 490px;
    height: auto;
    margin-left: 60%;
    background-color: #DB9A8F91;
    border-radius: 5px;
}

.selec {
    color: #6E081F;
    font-size: 27px;
    margin-top: 25px;
    margin-left: 40px;
    font-family: Lilita One;
    font-weight: 400;
    word-wrap: break-word
}

.livsel {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    max-width: 405px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px #B2ADAD solid
}

.livsel img {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    width: auto;
    max-width: 50px;
    height: auto;
    max-width: 70px;
}

.livsel h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: black;
    font-size: 18px;
    font-family: Montaga;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}

.procom {
    margin-left: 106px;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 50px;
    width: auto;
    max-width: 265px;
    background-color: #4B89FF;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
}

.procom h3 {
    width: 275px;
    color: white;
    font-size: 18px;
    font-family: Lilita One;
    font-weight: 400px;
    word-wrap: break-word;
}



.semess {
    background-color: #B37160;
    width: auto;
    max-width: 545px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    margin-left: 59%;
    margin-top: 50px;
}

.semess h4 {
    color: white;
    font-size: 27px;
    font-family: Lilita One;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 10px;
}

.conts {
    margin-top: 25px;
    margin-left: 58%;
    max-height: 550px;
    width: auto;
}

.livs {
    list-style-type: none;
}

.conts,
.livs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.seml img {
    width: auto;
    max-width: 128px;
    height: 176px;
    object-fit: cover;
}

.check {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}