/*carrocel*/
#testimonials-list .item {
    padding: 60px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    /* Serve para ajustar o tamanho das imagens nas laterais*/
    transform: scale3d(0.5, 0.5, 1);
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    margin-left: 0;
    border-radius: 20px;
}

#testimonials-list .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    /* Serve para ajustar o tamanho da imagem principal*/
    transform: scale3d(1.7, 1.6, 1);

}

.owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 15px;
}

#testimonials-list.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;

}

#testimonials-list.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

.testimonials .owl-prev,
.testimonials .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #c46262;
    position: absolute;
    top: 40%;
}

.testimonials .owl-prev {
    align-items: center;
    left: 25%;
    color: white;
}

.testimonials .owl-next {
    align-items: center;
    right: 25%;
    color: white;
}

@media only screen and (max-width: 991px) {
    .owl-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .box-area {
        text-align: center;
    }

    .owl-nav {
        display: none;
    }
}

.testimonials i.fa.fa-arrow-right::before {
    line-height: 40px;
}

.testimonials i.fa.fa-arrow-left::before {
    line-height: 40px;
}


/*LIVROS*/
.topContainer {
    display: flex;
    margin-top: auto;
    flex-direction: column;
}

.containerLivro {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 60px;
    /* Alterado para 'auto' para permitir o crescimento vertical */
    /* Alterado para 'margin-left' em vez de 'left' */
    margin-top: 100px;
    /* Alterado para 'margin-top' em vez de 'top' */
    border-radius: 10px;
    background-color: #4B89FFC7;
    box-sizing: border-box;
    /* Evita que o preenchimento aumente as dimensões */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerLivro h1 {
    width: 496px;
    height: 57px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Lilita One';
    font-size: 1.5em;
    word-wrap: break-word;
    margin-top: 17px
}

.mask_mvr{
    padding: 20px;
    width: auto;
    max-width: 150px; 
    height: 290px;
    max-height: 300px; 
    background: #93E4C9; 
    border-radius: 10px;
    justify-content: flex-start;
}

.col h2 {
    color: black;
    text-align: left;
    font-size: 14px;
    font-family: Montaga;
    font-weight: 400;
    line-height: 24px;
    word-wrap: normal;
    margin: 10px 0;
    max-width: 120px;
}

.col2 h2 {
    color: black;
    text-align: right;
    font-size: 14px;
    font-family: Montaga;
    font-weight: 400;
    line-height: 24px;
    word-wrap: normal;
    margin: 10px 0;
    max-width: 120px;
}

.containerGeral {
    margin:15px;
    margin-bottom: 150px;
    padding: 3px;
    width: auto;
    max-width: 100%;
    height: 450px;
    max-height: 100%;
    background-color: #AFF4C6A1;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.25);
}
.col {
    margin-top: 40px;
    margin-bottom: 80px;
    padding-right: 15px;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Inclui preenchimento e margem no tamanho do elemento */
    text-align: center;
    /* Centraliza o conteúdo */
}

.col img {
    width: 116px;
    height: 164px;
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.col:hover img {
    background-color: rgba(0, 0, 0, 0.041);
    -webkit-filter: grayscale(100%) blur(0px);
    filter: grayscale(100%) blur(0px);
}

.col2 img {
    width: 110px;
    height: 158px;
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.col2:hover img {
    background-color: rgba(0, 0, 0, 0.041);
    -webkit-filter: grayscale(100%) blur(0px);
    filter: grayscale(100%) blur(0px);
}

.Maisvendidosrecentemente{
    width: 80%;
    /*max-width: 502px;*/
    height: auto;
    max-height: 57px;
    /* Alterado para 'auto' para permitir o crescimento vertical */
    margin-left: 10%;
    margin-right: 10%;
    /* Alterado para 'margin-left' em vez de 'left' */
    margin-top: 32px;
    /* Alterado para 'margin-top' em vez de 'top' */
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #93E4C9;
    box-sizing: border-box;
    /* Evita que o preenchimento aumente as dimensões */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.Maisvendidosrecentemente h1{
    width: 534px;
    height: 37px;
    color: rgb(0, 0, 0);
    font-family: 'Lilita One';
    font-size: 1.5em;
    word-wrap: break-word;
    margin-top: 17px
}
