@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.corpo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.iconePerf{
    color: #bbf0cd;
    font-size: 25px;
}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.containerPai {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .titulo {
    height: 90px;
    font-family: 'Lilita One';
    background: #93E4C9;
    border-radius: 5px 5px 0 0;
    color: #202020;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #83ceb5;
    box-shadow: inset 0px 0px 2px 2px #93E4C9;
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #161616;
    font-size: 18px;
    background: #93E4C9;
    border: 1px solid #93E4C9;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .A a {
    color: #fff;
    font-family: 'Lilita One';
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #4b89ff;
    border: 1px solid #4b89ff;
    cursor: pointer;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.25);
    width: 300px;
    margin: auto;
}

.wrapper form .B a {
    color: #fff;
    font-family: 'Lilita One';
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    background: #AC686B;
    border: 1px solid #995d60;
    cursor: pointer;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    margin: auto;
    height: 40px;
}

form .A a:hover {
    background: #2e74f7;
    box-shadow: none;
}

form .B a:hover {
    background: #995d60;
    box-shadow: none;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

form .signup-link a:hover {
    text-decoration: underline;
}
